.App {
  text-align: center;
  min-height: 90vh;
  background-color: #efefef;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  color: white;
  padding: 1rem;
  height: 1rem;
}

.cards {
  max-width: 900px;
  margin: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card1,
.card8 {
  background-color: #6f98a8;
}
.card2,
.card4 {
  background-color: #2b8ead;
}
.card3,
.card5,
.card9 {
  background-color: #2f454e;
}
.card6,
.card7 {
  background-color: #bfbfbf;
}
.button-container {
  display: inline-grid;
  padding: 20px;
}
.shuffle,
.sort {
  margin: auto;
  min-width: 70px;
  min-height: 30px;
  background-color: #72c3dc;
  color: white;
  border: none;
  border-radius: 4px;
}
.footer-note {
  font-style: italic;
  font-size: small;
}
@media (max-width: 768px) {
  .cards {
    grid-gap: 1rem;
  }
  .grid-container {
    display: block;
  }
  .button-container {
    display: block;
    padding: 10px 10px 0px 10px;
  }
  .shuffle,
  .sort {
    margin: 0 5px;
  }
  .card1,
  .card8 {
    background-color: #efefef;
    border-left: 8px solid #6f98a8;
    color: #333333;
  }
  .card2,
  .card4 {
    background-color: #efefef;
    border-left: 8px solid #2b8ead;
    color: #333333;
  }
  .card3,
  .card5,
  .card9 {
    background-color: #efefef;
    border-left: 8px solid #2f454e;
    color: #333333;
  }
  .card6,
  .card7 {
    background-color: #efefef;
    border-left: 8px solid #bfbfbf;
    color: #333333;
  }
  .App {
    border: 8px solid #000000;
    background-color: white;
    display: block;
  }
  .App-header {
    min-height: 8vh;
  }
}
@media (min-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: row-reverse;
    float: left;
  }
  .App {
    display: inline-grid;
    min-height: 50vh;
  }
  .card {
    padding: 2rem;
    min-width: 40px;
    min-height: 115px;
    font-size: 40px;
  }
  .App-header {
    min-height: 50px;
  }
}
